version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tax_api
    restart: unless-stopped
    ports:
      - '8080:8080'
    env_file:
      - .env
    environment:
      - PORT=8080
      - NODE_ENV=production
