@import "tailwindcss";

:root {
  --background: #fffbf5;
  --accentColor: #9f4522;
}

@theme inline {
  --color-background: var(--background);
  --color-accentColor: var(--accentColor);
  --font-sans: var(--font-geist-sans);
}

a {
  color: inherit;
  text-decoration: none;
}
